
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('laboratory-blurred-background.jpg');
    color: #333;
}

header {
    background: #0056b3;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #007bff;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.hidden {
    display: none;
}

img {
    border-radius: 50%;
}
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px); /* Ajusta el nivel de difuminado aquí */
    z-index: -1; /* Mantiene el filtro detrás del contenido */
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.card {
    min-width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
}

button.prev-button, button.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 24px;
}

button.prev-button {
    left: 10px;
}

button.next-button {
    right: 10px;
}

